numpy==2.4.6
opencv-python-headless==5.0.0.93
PyYAML==6.0.3
pytest==9.1.1

Flask
flask-cors
gunicorn
numpy
opencv-python-headless
PyYAML
opencv-python
Pillow
matplotlib
scikit-image
pytest
jupyter
ipykernel
requests
openai
python-dotenv
flask-sqlalchemy
psycopg2-binary
pyjwt
flask-bcrypt

